name: Docs

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
  workflow_dispatch:

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        # VuePress 需要完整提交历史来生成贡献者信息
        with:
          fetch-depth: 0
      - uses: imaegoo/vuepress-deploy@master
        env:
          ACCESS_TOKEN: ${{ secrets.TWIKOO_TOKEN }}
          TARGET_REPO: anghunk/CWD
          TARGET_BRANCH: gh-pages
          BUILD_SCRIPT: cd docs && yarn && yarn build
          BUILD_DIR: .vitepress/dist
          CNAME: cwd.js.org
